*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
release/
src/androidTest/
src/test/
/app/src/main/jniLibs/
app/src/androidTest/
app/src/test/
